from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.support.wait import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC

shortWait = 10

def main():
    driver = webdriver.Chrome()
    driver.get("{{url}}")
    {{#operations}}
    {{#useWait}}
    WebDriverWait(driver, shortWait).until(EC.{{byWait}}((By.{{by}}, "{{byInput}}"))).{{action}}({{#actionInput}}"{{.}}"{{/actionInput}})
    {{/useWait}}
    {{^useWait}}
    driver.find_element(By.{{by}}, "{{byInput}}").{{action}}({{#actionInput}}"{{.}}"{{/actionInput}})
    {{/useWait}}
    {{/operations}}
    driver.close()

if __name__ == '__main__':
    main()
