from selenium import webdriver
from selenium.webdriver.common.by import By

from selenium import webdriver

def main():
    driver = webdriver.Chrome()
    driver.get("{{url}}")
    {{#operations}}
    driver.find_element(By.{{by}}, "{{byInput}}").{{action}}({{#actionInput}}"{{.}}"{{/actionInput}})
    {{/operations}}
    driver.close()

if __name__ == '__main__':
    main()
