# coding: utf-8

{{>partial_header}}
import pytest
import requests
import json

class Test{{class_name}}:
    """{{class_name}} unit test stubs"""

    base_url = "http://localhost:8080"  # Define the base URL for the API

    timeout = 60

    def setUp(self):
        """Setup for tests if required"""
        pass

    def tearDown(self):
        """Cleanup after tests if required"""
        pass

    {{#test_cases}}
    def test_{{method_name}}(self):
        """Test for the {{method_name}} endpoint"""

        {{#query_param_variables}}
        # Dynamic query parameters
        {{query_param_variables}}
        {{/query_param_variables}}
        {{#path_variable_assignments}}
        # Dynamic path variables
        {{path_variable_assignments}}
        {{/path_variable_assignments}}

        url = f"{self.base_url}{{path_with_params}}"  # Construct the full URL

        method = "{{http_method}}"
        {{#has_payload}}

        response = requests.request(method=method.upper(),url=url, json={{payload}}, timeout=self.timeout) 
        {{/has_payload}}

        {{^has_payload}}
        response = requests.request(method=method.upper(),url=url, timeout=self.timeout) 
        {{/has_payload}}

        assert response.status_code == {{statusCode}}, f"Unexpected status code: {response.status_code}"
        assert isinstance(response.json(), {{responseObjectType}}), f"Unexpected response type: {type(response.json())}"

    {{/test_cases}}
