# coding: utf-8

{{>partial_header}}
import pytest
import requests
import json

class Test{{className}}:
    """{{className}} unit test stubs"""

    base_url = "http://localhost:8080"  # Define the base URL for the API

    timeout = 60

    def setUp(self):
        """Setup for tests if required"""
        pass

    def tearDown(self):
        """Cleanup after tests if required"""
        pass

    {{#getOperations}}
    def test_{{functionName}}(self):
        """Test for the {{functionName}} endpoint"""

        {{#query_param_variables}}
        # Dynamic query parameters
        {{query_param_variables}}
        {{/query_param_variables}}
        {{#path_variable_assignments}}
        # Dynamic path variables
        {{path_variable_assignments}}
        {{/path_variable_assignments}}

        url = f"{self.base_url}{{url}}"  # Construct the full URL

        response = requests.get(url, timeout=self.timeout) 

        assert response.status_code == {{statusCode}}, f"Unexpected status code: {response.status_code}"
        assert isinstance(response.json(), {{responseObjectType}}), f"Unexpected response type: {type(response.json())}"


    {{/getOperations}}


    {{#postOperations}}
    def test_{{functionName}}(self):
        """Test for the {{functionName}} endpoint"""

        {{#query_param_variables}}
        # Dynamic query parameters
        {{query_param_variables}}
        {{/query_param_variables}}
        {{#path_variable_assignments}}
        # Dynamic path variables
        {{path_variable_assignments}}
        {{/path_variable_assignments}}
        url = f"{self.base_url}{{url}}"  # Construct the full URL

        {{#has_payload}}
        
        # Handle JSON payload
        payload = {{payload}}
        response = requests.post(url, json={{payload}}, timeout=self.timeout) 

        {{/has_payload}}

        {{^has_payload}}
        response = requests.post(url, json={{payload}}, timeout=self.timeout) 
        {{/has_payload}}

        assert response.status_code == {{statusCode}}, f"Unexpected status code: {response.status_code}"
        assert isinstance(response.json(), {{responseObjectType}}), f"Unexpected response type: {type(response.json())}"


    {{/postOperations}}


    {{#putOperations}}
    def test_{{functionName}}(self):
        """Test for the {{functionName}} endpoint"""

        {{#query_param_variables}}
        # Dynamic query parameters
        {{query_param_variables}}
        {{/query_param_variables}}
        {{#path_variable_assignments}}
        # Dynamic path variables
        {{path_variable_assignments}}
        {{/path_variable_assignments}}

        url = f"{self.base_url}{{url}}"  # Construct the full URL


        {{#has_payload}}
        
        # Handle JSON payload
        payload = {{payload}}
        response = requests.put(url, json={{payload}}, timeout=self.timeout) 

        {{/has_payload}}
        
        {{^has_payload}}
        response = requests.put(url, json={{payload}}, timeout=self.timeout) 
        {{/has_payload}} 


        assert response.status_code == {{statusCode}}, f"Unexpected status code: {response.status_code}"
        assert isinstance(response.json(), {{responseObjectType}}), f"Unexpected response type: {type(response.json())}"


    {{/putOperations}}


    {{#deleteOperations}}
    def test_{{functionName}}(self):
        """Test for the {{functionName}} endpoint"""
        {{#query_param_variables}}
        # Dynamic query parameters
        {{query_param_variables}}
        {{/query_param_variables}}
        {{#path_variable_assignments}}
        # Dynamic path variables
        {{path_variable_assignments}}
        {{/path_variable_assignments}}

        url = f"{self.base_url}{{url}}"  # Construct the full URL

        {{#has_payload}}
        
        # Handle JSON payload
        payload = {{payload}}
        response = requests.delete(url, json={{payload}}, timeout=self.timeout) 

        {{/has_payload}}
        
        {{^has_payload}}
        response = requests.delete(url, json={{payload}}, timeout=self.timeout) 
        {{/has_payload}}

        assert response.status_code == {{statusCode}}, f"Unexpected status code: {response.status_code}"
        assert isinstance(response.json(), {{responseObjectType}}), f"Unexpected response type: {type(response.json())}"


    {{/deleteOperations}}